<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><ItemGroup><MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>20b62423-8bc3-4e2f-ba86-86e679e9b318</DefaultValue>
            <Value>20b62423-8bc3-4e2f-ba86-86e679e9b318</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>HfnZibwlFNiOeVfXsD385BSJ8yJOSgnsShc5cezKqoU=</DefaultValue>
            <Value>HfnZibwlFNiOeVfXsD385BSJ8yJOSgnsShc5cezKqoU=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>https://mrpappnewsflash.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mrpappnewsflash.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MRPAppNewsFlash</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$MRPAppNewsFlash</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>